# For Loop

In [22]:
print("Hello Python!")

Hello Python!

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
mylist=["Sam","Shiva","Tom","John","Jennifer"]
for i in range(len(mylist)):
    print(i,mylist[i])

0 Sam
1 Shiva
2 Tom
3 John
4 Jennifer

In [9]:
for i in range(100,10,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15

In [2]:
for i in range(1,11):
    
    print(i, "X", 7, "=",i*j)

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70

In [5]:

i=1
while i <=10:
    print(i,"X",7,"=",i*j)
    i+=1

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70

In [18]:
mydict={1:"Sam",2:"Tom",3:"Jenny"}
for key in mydict:
    print(key,":",mydict[key])

1 : Sam
2 : Tom
3 : Jenny

In [19]:
mystr="Sample Text"
for i in range(len(mystr)):
    print(i,"=>",mystr[i])

0 => S
1 => a
2 => m
3 => p
4 => l
5 => e
6 =>
7 => T
8 => e
9 => x
10 => t

In [20]:
mystr="Sample Text"
for index,value in enumerate(mystr):
    print(index,value)

0 S
1 a
2 m
3 p
4 l
5 e
6
7 T
8 e
9 x
10 t

In [21]:
mystr="Sample Text"
for i in enumerate(mystr):
    print(i)

(0, 'S')
(1, 'a')
(2, 'm')
(3, 'p')
(4, 'l')
(5, 'e')
(6, ' ')
(7, 'T')
(8, 'e')
(9, 'x')
(10, 't')

# While loop

In [24]:
i=100
while i >=10:
    print(i)
    i=i-10

100
90
80
70
60
50
40
30
20
10

In [25]:
a=input()
while a.lower()!='z':
    print(a)
    a=input()

hello
hello
j
j
z

In [31]:
i=2
while i <=30:
    if i%2==0:
        print(i)
        i+=2
        break

2

In [34]:
i=2
while i <=30:
    if i%2==0:
        print(i)
        i+=2
#         continue
    if i%20 ==0:
        break

2
4
6
8
10
12
14
16
18

In [46]:
a=[]
for i in range(11):
    i=int(input())
    a.append(i)
a=sorted(a)
print(a)

55
41
2
3
6
5
2
1
9
8
7
[1, 2, 2, 3, 5, 6, 7, 8, 9, 41, 55]

In [51]:
for i in range(5):
    for j in range(10):
        print("*",end=" ")
        
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

# Patter Program using loops

In [60]:
n=int(input("Enter the value"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter the value5
*
* *
* * *
* * * *
* * * * *

In [61]:
n=int(input("Enter the value"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter the value7
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [63]:
n=int(input("Enter the value"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the value7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [1]:
rows=int(input("Enter the number of rows"))
space =rows-1
for i in range(0,rows):
    for j in range(0,space):
        print(end=" ")
    space-=1
    for k in range(0,i+1):
        print("*",end=" ")
    print()

Enter the number of rows6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [95]:
n=int(input("Enter the number of rows"))
for i in range(0,n+1):
    for j in range(0,i):
        print("*",end=" ")
    print()
for i in range(n,0,-1):
    for j in range(0,i-1):
        print("*", end=" ")
    print()

Enter the number of rows5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [101]:
row=int(input("Enter the number of Rows"))
ascii = 65
for i in range(0,row):
    for j in range(0,i+1):
        val = chr(ascii)
        print(val, end=" ")
        ascii+=1
    print()

Enter the number of Rows5
A
B C
D E F
G H I J
K L M N O

In [105]:
row=int(input("Enter the number of Rows"))
ascii = 65
for i in range(0,row):
    for j in range(0,i+1):
        val = chr(ascii)
        print(val, end=" ")
    ascii+=1
    print()

Enter the number of Rows5
A
B B
C C C
D D D D
E E E E E

In [107]:
row=int(input("Enter the number of Rows"))
ascii = 65
space=row-1
for i in range(0,row):
    for s in range(0,space):
        print(end=" ")
    space=space-1
    for j in range(0,i+1):
        val = chr(ascii)
        print(val, end=" ")
    ascii+=1
    print()

Enter the number of Rows5
    A
   B B
  C C C
 D D D D
E E E E E

In [112]:
row=int(input("Enter the number of Rows"))
ascii = 65
for i in range(0,row):
    for j in range(0,i+1):
        val = chr(ascii)
        print(val, end=" ")
    ascii+=1
    print()
for i in range(row,0,-1):
    for j in range(0,i-1):
        val=chr(ascii-2)
        print(val,end=" ")
    ascii-=1
    print()

Enter the number of Rows5
A
B B
C C C
D D D D
E E E E E
D D D D
C C C
B B
A

In [121]:
rows=int(input("Enter the number of rows"))
space =rows-1
for i in range(0,rows):
    for j in range(0,space):
        print(end=" ")
    space-=1
    for k in range(0,i+1):
        print("*",end=" ")
    print()
for i in range(rows-1,0,-1):
    for j in range(space,0):
        print(end=" ")
    space-=1
    for k in range(0,i):
        print("*", end=" ")
    print()

Enter the number of rows5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [126]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print("*",end=" ")
        else:
            print(end=" ")
    print()

 * *  * *
*   *   *
*      *
 *    *
  *  *
   *