In [1]:
import mariadb

- generate_user_table() funcion to generate user table
-Establish connection to the test_db
-Create users table (fields : email, name, password)
-Insert into users table

In [36]:
def generate_user_table():
    con = mariadb.connect(host = "127.0.0.1",
        port = 3308,
        user = "root",
        password= "password",
        database = "test_db"
    )
    cur = con.cursor()
    st1="CREATE TABLE Users \
        (email VARCHAR(100), name VARCHAR(50), \
        password VARCHAR(30))"
    st2="INSERT INTO Users \
    (email, name, password) VALUES \
    ('ywbaek@perscholas.org','young','letsgomets'),\
    ('mcordon@perscholas.org','marcial','perscholas'), \
    ('mhaseeb@perscholas.org','hasseb','platform')"
    
    cur.execute(st1)
    print("user table created")

    cur.execute(st2)
    con.commit()
    print("Records inserted into users table")
    con.close()

Let's run the following cell to create user table in test_db database using generate_user_table() function

In [38]:
generate_user_table()

user table created
Records inserted into users table

- get_all_user() function 
-Establish a connection to the test_db
-Print out the email, name and password of all users

In [4]:
def get_all_users():
    con = mariadb.connect(host = "127.0.0.1",
        port = 3308,
        user = "root",
        password= "password",
        database = "test_db"
    )
    cur = con.cursor()
    st3 = "SELECT * FROM Users"
    cur.execute(st3)
    print("    EMAIL                     NAME             PASSWORD")
    for rec in cur:
        print(" {}     |    {}    |   {}  ".format(rec[0],rec[1],rec[2]))
    
    con.close()

Let's run the following cell to print email, name and password of all users

In [5]:
get_all_users()

    EMAIL                     NAME             PASSWORD
 ywbaek@perscholas.org     |    young    |   letsgomets
 mcordon@perscholas.org     |    marcial    |   perscholas
 mhaseeb@perscholas.org     |    hasseb    |   platform

get_user_by_name(name) function
-Establish a connection to test_db
-Print out the email and password of the user with the given name

In [18]:
def get_user_by_name(name):
    con = mariadb.connect(host = "127.0.0.1",
        port = 3308,
        user = "root",
        password= "password",
        database = "test_db"
    )
    cur = con.cursor()
    st3 = "SELECT * FROM Users \
            WHERE name = '{}'"
    cur.execute(st3.format(name))
    print("    EMAIL                     NAME             PASSWORD")
    for rec in cur:
        print(" {}     |    {}    |   {}  ".format(rec[0],rec[1],rec[2]))
    
    con.close()

Let's run the following cell to print email, name and password for the username 'young'

In [20]:
get_user_by_name("young")

    EMAIL                     NAME             PASSWORD
 ywbaek@perscholas.org     |    young    |   letsgomets

- validate_user(email,password)
- Establish a connection to the test_db
- Return True if a user exists with given email and password. Return False Otherwise

In [12]:
def validate_user(email,password):
    try:
        con = mariadb.connect(host = "127.0.0.1",
            port = 3308,
            user = "root",
            password= "password",
            database = "test_db"
        )
        cur = con.cursor()
        st4 = "SELECT * FROM Users \
            WHERE email = '{}' AND password = '{}'"
        cur.execute(st4.format(email,password))
        result = cur.fetchone()
        if result:
            return True
        else:
            return False
    except mariadb.Error as e:
            return e
    finally:
        con.close()

Let's try validate_user with valid email= "ywbaek@perscholas.org" and password = "letsgomets" should return True

In [68]:
print(validate_user("ywbaek@perscholas.org", "letsgomets"))

True

Let's try validate_user with valid email= "ywbaek@perscholas.org" and invalid password = "letsg" should return False

In [69]:
print(validate_user("ywbaek@perscholas.org", "letsg"))

False

Lets try validate_user with invalid email = "ywbaek@perscholas.net" and valid password = "letsgomets" should return False

In [17]:
print(validate_user("ywbaek@perscholas.net", "letsgomets"))

False

- Update_user(email, name, password)
- Establish a connection to the test_db
- For the user with given email, set the valuses of name and password to the given name and password
- Return True if successful, False otherwise

In [64]:
def update_user(email,name,password):
    
    try:
        con = mariadb.connect(host = "127.0.0.1",
            port = 3308,
            user = "root",
            password= "password",
            database = "test_db"
            )
        cur = con.cursor()
        st5= "UPDATE Users \
            SET name = '{}', password = '{}' \
            WHERE email = '{}' "
            
        cur.execute(st5.format(name,password,email))
        con.commit()
        
        if cur.rowcount:
           return cur.rowcount
        else:
            return cur.rowcount
    except mariadb.Error as e:
        return e
    finally :
  
        con.close()

Lets try update user with valid email= "mcordon@perscholas.org" and set name ="marcus12" and "perscholas12"

In [65]:
print(update_user("mcordon@perscholas.org","marcus12","perscholas12"))

0

Lets use get_all_users() to display users table to see updated table

In [71]:
get_all_users()

    EMAIL                     NAME             PASSWORD
 ywbaek@perscholas.org     |    young    |   letsgomets
 mcordon@perscholas.org     |    marcus12    |   perscholas12
 mhaseeb@perscholas.org     |    hasseb    |   platform

Let's try update_user with invalid email = "mcordon@perscholas.net"  and set name = "marcus", password = "perscholas123"

In [67]:

print(update_user("mcordon@perscholas.net","marcus","perscholas123"))

0

Lets use get_all_users() to display users table to see updated table

In [70]:
get_all_users()

    EMAIL                     NAME             PASSWORD
 ywbaek@perscholas.org     |    young    |   letsgomets
 mcordon@perscholas.org     |    marcus12    |   perscholas12
 mhaseeb@perscholas.org     |    hasseb    |   platform